@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9aafe7;
    border-radius: 20px;
    border: 3px solid lightsteelblue;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background-color: #9aafe7;
}

select {
    display: flex;
    min-width: 50px;
    width: 150px;
    text-align: center;
    background-color: white;
    height: 40px;
    min-height: 40px;
}

.todo {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 32px auto;
    padding: 20px;
    min-width: 1000px;
    min-height: 400px;
    max-width: 1920px;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.content__new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.content__new input, .find input {
    padding: 8px;
    background-color: white;
    min-width: 300px;
    width: 95%;
    min-height: 20px;
    height: 40px;
}

.content__new img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    min-width: 40px;
    width: 45px;
    height: 40px;
    cursor: pointer;
    padding:4px;
}

.content__new span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 235px;
    min-height: 20px;
    height: 40px;


}

.content__new__priority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    width: 30%;
    height: 40px;
    min-height: 20px;
    gap: 10px;
}

.content__new__input {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 68%;
    gap: 10px;
    min-width: 350px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters__priority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 300px;
    width: 30%;
    min-height: 20px;
    height: 40px;
}

.filters__priority__span {
    width: 200px;
    height: 40px;
}

.filters__priority__select {
    display: flex;
    text-align: center;
}

.filters__status {
    display: flex;
    gap: 10px;
    min-height: 20px;
    height: 30px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.sort__date-priority {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sort__date-priority select {
    width: 150px;
    min-width: 40px;
}

.sort__date {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 20%;
    min-width: 350px;
    height: 40px;
    align-items: center;
}

.sort__date__span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    min-width: 100px;
    min-height: 20px;
}

.sort__priority__span {
    display: flex;
    min-width: 100px;
    min-height: 20px;
    width: 210px;
}

.sort__priority {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    min-width: 350px;
    width: 54%;

}

.sort__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.arrow {
    display: none;
    position: absolute;
    right: 3px;
}

.arrow__up {
    display: block;
}

.arrow__down {
    display: block;
    transform: rotate(180deg);
}

.find {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.find span {
    width: 13%;
}

.find input {
    min-height: 20px;
    height: 40px;
    width: 86%;
    min-width: 400px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 90%;
    gap: 10px;
    overflow-y: auto;
    overflow-style: marquee-block;
}

.empty-list {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:-50px;
}

.empty-list__span {
    font-size: 40px;
    align-content: center;
}

.task-container {
    padding: 5px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-height: 200px;
    width: 100%;
}

.task-priority {
    display: flex;
    gap: 25px;
    justify-content: center;
    min-width: 70px;
}

.task-priority-low {
    color: red;
}

.task-priority-medium {
    color: #ffb700;
}

.task-priority-high {
    color: #0ab70a;
}

.task {
    background: white;
}

.task-completed {
    background: #90f190 !important;
    text-decoration: line-through;
    color: rgba(131, 131, 131, 0.66);
}

.task-cancelled {
    background-color: indianred !important;
}

.task {
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: space-between;
    border: 2px solid #9aafe7;
    border-radius: 12px;
    width: 90%;
    min-width: 70%;
    min-height: 80px;
    padding: 8px;
}

.task__info {
    display: flex;
    flex-direction: column;
}

.task__info__date {
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    cursor: default;
    position: absolute;
    bottom: 5px;
    width: 99%;
}

.task__buttons {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.task__buttons img {
    cursor:pointer;
}

.task:hover .task__buttons {
    display: flex;
}

.task__buttons:has(.display-none) {
    gap: 0;
}

.task-delete {
    margin-right: 5px;
    cursor: pointer;
}

.display-none {
    display: none;
}

.with-borders {
    border: 2px solid #9aafe7;
    border-radius: 12px;
}
